*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

div.container div.ball {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(1, 0.02, 0, -1.21);
}

div.container:hover div.ball {
    /* transform: rotateZ(120deg); */
    /* transform: scale(2); */
    transform: translateX(400px);
    background-color: red;
    cursor: pointer;
    /* border-radius: 50%; */
}


